<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
    <add key="Template" value="..\Template\TimeSheet_zhangcg_mmdd.xls"></add>
    <add key="WorkSheet" value="..\WorkSheet\"></add>
    <add key="ParamArg" value="..\..\TimeSheetHelper\Setting\setting.json"></add>
    <add key="Threshold" value="-3"></add>
	</appSettings>
</configuration>